<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Display</title>
</head>
<body>
    <table>
        <tr>
            <th>Sr.No</th>
            <th>PetName</th>
            <th>Category</th>
            <th>Breed</th>
            <th>Price</th>
            <th>Discription</th>
            <th>Image</th>
            <th colspan="2">Action</th>
        </tr>
        {% for i in data %}
        <tr>
            <td>{{i.id}}</td>
            <td>{{i.pname}}</td>
            <td>{{i.category}}</td>
            <td>{{i.breed}}</td>
            <td>{{i.price}}</td>
            <td>{{i.desc}}</td>
            <td><img src={{i.image.url}} width="100"/></td>
            <td>
                <form action="{% url 'delete' i.id %}" method="post">
                    {% csrf_token %}
                    <input type="submit" value="delete" />
                </form>
            </td>
        </tr>

        {% endfor %}
    </table>
     
</body>
</html>